@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container">
        <div class="row">
            

            <div class="col-sm-2">
                <p>App Settings</p>
                <input type="range" id="Radius"
                       min="0" max="10000" >
                <label for="Radius">Radius in meters</label>
            </div>

            <div class="col-sm-7">
                <div id="TweetMap" style="height: 70vh; width: auto;"></div>
            </div>
            <div class="col-sm-3">
                <table class="table">
                    <thead >
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Tweet Text</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
